{% extends 'plants/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .col-md-4{
            float: left;
        }
    </style>
</head>
<body>
    
    {% block body %}

    {% for item in itemlist %}
<br><br><br>
        <div class="row mb-3">
            <div class="col-md-3 offset-md-2">
                <!-- <img src="{{ item.item_image }}"
                class="card"
                height="140px"
                width="200px"> -->
            </div>

            <div class="col-md-4">

                <div class="main-contain">
                    
                    <div class="card" style="width: 18rem;">
                        <img src="https://i.pinimg.com/736x/fa/d3/4a/fad34a707359c5c1bfe1a4461010b7a1.jpg" class="card-img-top">

                        <div class="card-body">
                            <h3 style="font-size: 1.5rem;">{{ item.item_name }}</h3>

                            <h5 style=" font-style:italic; font-size: 1rem;"> {{ item.item_desc | truncatewords:20 }}</h5>

                            <h6>${{ item.item_price }}</h6>

                            <h6 style="font-style: italic;">added for:</h6>

                            <h6 style="font-style: italic;">added by superuser: </h6>
                            
                            <div class="detail">
                                <a href="{% url 'plants:detail' item.id %}" 
                                style="width: 100px;"
                                class="btn btn-success">
                                Details
                            </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3">

            </div>
        </div>

    {% endfor %}

    {% endblock %}
</body>
</html>